<section id="section{{ sectionno }}" class="pb-video {{ item.achtergrond }}">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-5 offset-lg-1">
				{% if item.subtitel %}
					<h6 class="sub mb-2"> {{ item.subtitel }} </h6>
				{% endif %}
				{% if item.titel %}
					<h2 class="h3"> {{ item.titel }} </h2>
				{% endif %}
				{% if item.tekst %}
					<p> {{ item.tekst }} </p>
				{% endif %}
				{% if item.link %}
					<br>
					<a class="btn btn-primary" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
				{% endif %}
			</div>
			<div class="col-md-6 col-lg-5">
				<div class="video-container anime-fadein">
					{{ item.video }}
				</div>
			</div>
		</div>
	</div>
</section>